
ThirdPractice/.vs/ThirdPractice/DesignTimeBuild/

ThirdPractice/.vs/ThirdPractice/v16/

ThirdPractice/ThirdPractice/bin/Debug/net5.0/ref/

ThirdPractice/ThirdPractice/bin/Debug/net5.0/

ThirdPractice/ThirdPractice/obj/Debug/net5.0/

ThirdPractice/ThirdPractice/obj/
